::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

@font-face {
    font-family: "Modernc";
    src: local("MODERNC"),
        url("/fonts/MODERNC.TTF");

    font-weight: 300;
    font-style: normal;
}

body{
    background-image: url(/img/bg.png);
}